@model Models.Form

@{
    ViewData["Title"] = "Create";
}

<h1>Send a form to an admin</h1>

<hr />

<div class="container-form">
    <form action="https://formspree.io/f/moqyvlen" method="POST" id="email-form">
        <label for=""></label>
        <input type="email" id="email" name="email" placeholder="email address">
        <input type="text" id="reportMessage" name="reportMessage" placeholder="Your message">
        <button type="submit" class="btn btn-solid btn-rounded"><i class="fas fa-arrow-right"></i> Send </button>   
        </form>
</div>

<div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@*Done by Thibault*@)