@inject SignInManager<IdentityUser> signInManager;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TomorrowC18ProjectOOP</title>
    <link rel="stylesheet" href="~/oui.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="navbar-menu">
                <li class="navbar-item logo">
                    <a class="navbar-link" asp-area="" asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home navbar-icon"></i>
                        <span class="navbar-title">Home</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" asp-area="" asp-controller="Student" asp-action="Index">
                        <i class="fas fa-user-graduate navbar-icon"></i>
                        <span class="navbar-title">Profile</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" asp-area="" asp-controller="AcademicCalendar" asp-action="Index">
                        <i class="fas fa-university navbar-icon"></i>
                        <span class="navbar-title">Academic Calendar</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" asp-area="" asp-controller="Course" asp-action="Index">
                        <i class="fas fa-book navbar-icon"></i>
                        <span class="navbar-title">Courses</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" asp-area="" asp-controller="TimeTable" asp-action="Index">
                        <i class="far fa-calendar-alt navbar-icon"></i>
                        <span class="navbar-title">Time Table</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" asp-area="" asp-controller="Fee" asp-action="Index">
                        <i class="fas fa-file-invoice-dollar navbar-icon"></i>
                        <span class="navbar-title">Payment</span>
                    </a>
                </li>
                @if (signInManager.IsSignedIn(User))
                {
                        <li class="nav-item">
                            <form method="post" asp-action="logout" asp-controller="account">
                                <button type ="submit" class="nav-link btn btn-link py-0" style="width:auto">
                                    Logout @User.Identity.Name

                                </button>
                            </form>
                        </li>

                }
                else
                {
                    <li class="nav-item">
                        <a asp-action"login" asp-controller="account" class="nav-link">Login</a>
                    </li>
                }
                <li class="navbar-item">
                    <a class="navbar-link" asp-area="" asp-controller="Account" asp-action="Register">
                        <i class="fas fa-sign-in-alt navbar-icon"></i>
                        <span class="navbar-title">Register</span>
                    </a>
                </li>
                <li class="navbar-item">
                    <a class="navbar-link" href="Form.html">
                        <i class="fas fa-envelope-open-text navbar-icon"></i>
                        <span class="navbar-title">Contact us</span>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
